<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Egyszerű receptek mindenki számára</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="css/index-style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light stick-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img id="navbar-img"src="img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Főlap</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/recipes}">Receptek</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Kijelentkezés</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/edit-recipes}">Recept Műveletek</a>
                </li>
            </ul>
            <ul th:unless="${#authorization.expression('isAuthenticated()')}" class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Főlap</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/recipes}">Receptek</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Bejelentkezés</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3">
            <h2>Login</h2>
            <form action="/login" method="post" enctype="multipart/form-data" class="main-form needs-validation" novalidate>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username"
                       class="form-control" required>

                <label for="password">Password: </label>
                <input type="password" name="password" id="password"
                       class="form-control" required>

                <br>
                <button type="submit">Submit</button>

            </form>
        </div>
    </div>
</div>


<script>
    let form = document.querySelector('.needs-validation');

    form.addEventListener('submit',function(event){
    if(form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
    }
    form.classList.add('was-validated')
    })
</script>

</body>
</html>